/.mc-lists.el
/auto-save-list/
/custom-file.el~
/eln-cache/
/elpa/
/init.el~
/tutorial/
/projectile-bookmarks.eld
/transient/
/.cache/
/history
/places
/async-bytecomp.log
/imperatives.txt
/projectile.cache
/projects
/recentf
